@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}

/*@font-face {*/
/*    font-family: 'FontAwesome';*/
/*    src: url('font/flaticon.eot?v=4.7.0');*/
/*    src: url('font/flaticon.eot?#iefix&v=4.7.0') format('embedded-opentype'),*/
/*         url('font/flaticon.woff2?v=4.7.0') format('woff2'),*/
/*         url('font/flaticon.woff?v=4.7.0') format('woff'),*/
/*         url('font/flaticon.ttf?v=4.7.0') format('truetype'),*/
/*         url('font/flaticon.svg?v=4.7.0#fontawesomeregular') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal*/
/*}*/

body {
    background-color: #f5f7f8;
}

img {
    vertical-align: text-top;
    max-width: 100%;
}

.border-radius {
    border-radius: 4px;
}

.cards-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.bg-white {
    background-color: #fff;
}

footer {
    background-color: #435761 ;
    height: 80px;
    padding: 16px;
    display: block;

}