header {
    width: 100vw;
    background-color: #4d636f;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
}

header ul {
    display: flex;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

header li a {
    padding: 12px 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

header li:first-child {
    background-color: #3a4b53;
}

header li:hover {
    background-color: white;
}

header li:first-child:hover {
    background-color: #ccc;
    color: black;
}

header li:nth-last-child(2):hover {
    background-color: #ccc;
}

header li img {
    height: 18px;
}

header li span {
    font-size: 18px;
    color: white;
    margin-left: 16px;
}

header li:last-child {
    margin-left: auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ccc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn span {
    background-color: #4CAF50;
    border-radius: 10px;
    height: 18px;
    font-size: 12px;
    padding: 0 8px;
    line-height: 18px;
    margin: -10px 0 0;
}


section.main {
    margin: 80px auto 0;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 2.5fr 7fr 2fr;
    gap: 0 16px;
    padding: 0 16px;
}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px 0;
}

.profile-card {
    width: 100%;
    padding: 10px 16px;
}

.profile-card .my-profile {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.prof-image {
    width: 106px;
    margin: 0 auto;
    display: block;
}

.profile-card hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #eee;
}

.profile-card .profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.profile-card .profile-info:last-child {
    margin-bottom: 0;
}

.profile-card .profile-info svg {
    height: 16px;
    width: 16px;
    margin-right: 16px;
    fill: #7d97a5;
}

/*.user-folders {*/
/*    background-color: #fff;*/
/*}*/

/*.folder-card {*/
/*    padding: 8px 16px;*/
/*    color: #fff;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/

.folder-card:hover {
    background-color: #ccc;
}

.folder-card:hover .my-group-btn {
    color: #000;
}

.folder-card svg {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    fill: #fff;
}

.folder-card:hover svg {
    fill: black;
}

.my-group-btn {
    background-color: #7d97a5;
    padding: 8px 16px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#my-group:checked + label div.my-group-dropdown {
    display: block;
}

.my-group-dropdown {
    display: none;
    width: 100%;
    background-color: #fff;
    padding: 16px;
}

#my-events:checked + label div.my-events-dropdown {
    display: block;
}

.my-events-dropdown {
    display: none;
    width: 100%;
    background-color: #fff;
    padding: 16px;
}

#my-photos:checked + label div.my-photos-dropdown {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px 16px 0;
    justify-content: center;
}

.my-photos-dropdown {
    display: none;
    width: 100%;
    background-color: #fff;
    padding: 0 16px;
}

.drop-img {
    height: 70px;
    width: 45%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/*how to set a responsive size for the images?*/
/*how to make the images clickable with links s as the parameters stay the same?*/

#my-group:checked + label div.my-group-btn {
    background-color: #57707d;
}

#my-events:checked + label div.my-group-btn {
    background-color: #57707d;
}

#my-photos:checked + label div.my-group-btn {
    background-color: #57707d;
}

.interests-card {
    padding: 0 16px;
}

.interest-boxes {
    margin: 16px 0;
}

.boxes {
    background-color: #303e45;
    color: white;
    display: inline-flex;
    padding: 0 8px;
    font-size: 12px;
    width: fit-content;
}

/*should I give colors separately to all boxes if the color is different?*/

.box2 {
    background-color: #57707d;
}

.box3 {
    background-color: #becbd2;
    color: #000000;
}

.box4 {
    background-color: #f5f7f8;
    color: #000000;
}

/*.interest-boxes:hover .boxes {*/
/*    background-color: #cccccc;*/
/*}*/

.secondary-title {
    font-weight: 400;
    text-align: left;
    margin: 16px 0;
    gap: 8px;
}
/*.hey {*/
/*    margin-top: 0;*/
/*}*/

.info-box {
    background-color: #dfe5e8;
    border: 1px solid #cccccc;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*float: right;*/
}

.info-text {
    padding: 0 16px;
}

.x-box {
    width: 44px;
    height: 38px;
    background-color: #becbd2;
    margin-left: auto;
    display: block;
    padding: 15px 16px;

}

svg.x {
    width: 8px;
    height: 8px;
    display: block;
    margin: 0px auto;
    /*text-align: center;*/
    /*padding: 8px 16px;*/
}

.x-box:hover {
    background-color: #cccccc;
}
#x-button:checked  .info-box {
    visibility: hidden;
}


.status-block {
    width: 100%;
    padding: 10px 16px;
}

h6.opacity-text {
    color: #000000;
    opacity: 0.6;
    margin: 10px 0;
    weig
}
 span.status-bar {
     border: 1px solid #cccccc;
     width: 100%;
     display: block;
     margin: 15px 0;
     padding: 8px 16px;
 }

.postbtn {
    height: 38px;
    padding: 8px 16px;
    background-color: #607d8b;
    border: none;
}
svg.postbtn-icon {
    fill: white;
    height: 15px;
}

span.postbtn-text {
    color: white;
    margin-left: 4px;
}

.postbtn:hover {
    background-color: #cccccc;
}
.postbtn:hover span {
    color: black;
}
.postbtn:hover svg {
    fill: black;
}

div.post1 {
    margin: 16px;
    padding: 16px;
    display: flex;
}

.post1 {
    font-size: 20px;
    font-weight: 400;
   margin: 10px 0;
}
.post-prof-icon {
    height: 60px;
    margin-right: 16px;

}